@charset "utf-8";

*{ margin:0; padding:0; }
li{ list-style-type:none; }
a{ text-decoration:none; color:black; }
a:hover{ text-decoration:none; }
img{ vertical-align:middle; border:none; }
address{ font-style:normal; }
body{ font-size:15px; font-family:'TheJamsil5Bold'; }


#wrapper{width:100%; height:2900px; margin:0 auto;}
	#header{position:fixed; left:50%; top:0; width:1200px; height:100px; margin-left:-600px; padding-bottom:10px; background-color:rgba(255,255,255,0.8); z-index:999;}
	
		h1{float:left; width:180px; height:100px; line-height:100px; position:absolute; top:0; left:15px; cursor:pointer;}

		#topMenu{float:right; margin-top:50px; margin-right:40px; width:730px;}
			#topMenu .sub{ float:left; width:140px; font-size:18px; text-align:right;}
				.sub a { color:#1E1E1E; }
			#topMenu .sub:nth-child(2){margin:0 14px;}
				.sub ul {margin-top:20px; display:none;}
					.sub ul li{margin-bottom:10px; }
						.sub ul li a{font-size:13px;}

			#topMenu .sub:hover a{color:rgb(239, 62, 0);}
			#topMenu .find:hover ul{display:block;}
			#topMenu .voucher:hover ul{display:block;}
			#topMenu .premium:hover ul{display:block;}
				#topMenu .sub ul li:hover a{background-color:rgb(255,170,0); color:#fff; padding:7px 10px; border-radius:20px;}

				#topMenu .premium a{color:rgb(255,170,0);}
/* header끝 */

	#container{position:relative; left:50%; top:0; width:1200px; height:2900px; margin-left:-600px;} 
		.banner{width:1200px; height:500px; }

		.iconWrap{width:600px; margin-top:150px; margin-left:-300px; position:absolute; left:50%; }
			.iconWrap .city{cursor:pointer;}
			.iconWrap h2{ font-size:25px; width:200px; margin:0 auto; background-color:#EF3E00; text-align:center; padding:10px 20px; border-radius:25px; color:#fff; }
			.iconWrap p { width:100%; margin:0 auto; text-align:center; margin-top:20px; font-size:18px; font-family: 'TheJamsil4Medium'; margin-bottom:15px; }
			
			.iconWrap .city img{ float:left; margin:50px;}
			.iconWrap .incheon img{margin-top:65px;}
			.iconWrap .suwon img{margin-top:54px;}
			.iconWrap .busan img{margin-left:55px;}
			.iconWrap .jeju img{margin-top:40px; margin-left:55px;}

			.iconWrap span{position:absolute; top:275px; left:50px;}
				.seoul span{left:55px;}
				.incheon span{left:235px;}
				.suwon span{left:435px;}
				.daejeon span{top:475px; left:37px; }
				.busan span{top:475px; left:240px;}
				.jeju span{top:475px; left:445px;}

			.iconWrap .city:hover img{scale:1.2; transition:0.8s;}
			.iconWrap .city:hover span{color:rgb(255,170,0);}
		
		
		#contents{ width:800px; margin:0 auto; overflow:hidden; margin-top:850px; border-bottom:3px solid rgb(239, 62, 0); }
			.content { padding-bottom:50px; }
				.Lcontent{ width:375px; float:left; }
				.Rcontent{ width:375px; float:right; }
			
			h2{ width:200px; text-align:center; font-size:25px; color:white; background-color:rgb(239, 62, 0); border-radius:25px; padding:10px 20px; margin:0 auto; }
			#contents p{ text-align:right; font-size:15px; color:#242424; width:800px; border-bottom:3px solid rgb(239, 62, 0); margin:50px 0 0; padding-bottom:5px; font-family: 'TheJamsil3Regular'; }
				#contents span{ color:rgb(239, 62, 0); }

			h3{ margin-bottom:13px; margin-top:45px; }
			.bigText { font-size:21px; }
			#contents select { width:320px; height:35px; border-radius:8px; border-color:#ccc; font-family: 'TheJamsil3Regular'; color:#919191; text-indent:10px; appearance:none; background:url("../images/selectArrow.svg") no-repeat right 10px center; }
				#contents select:focus { border-color:#EF3E00; outline:none; }
				
			#contents input { width:315px; height:33px; border-radius:8px; border:1px solid #ccc; font-family: 'TheJamsil3Regular'; text-indent:10px; } /* 검색란 */
				#contents input:focus { border-color:#EF3E00; outline:none; }

			#contents textarea{ width:350px; height:280px; border:2px solid #ccc; padding:10px; } 
			/* 개인정보처리방침, 이용약관 Box */

			#contents label input{ width:15px; float:left; }
			#contents label{ float:left; font-size:15px; }
				#contents h4 { width:300px; margin-top:8px; }
				

			#contents button{ width:150px; height:80px; font-size:18px; border-radius:20px; font-family:'TheJamsil5Bold'; border:none; cursor:pointer; }
				.Lbtn { background-color:#ebebeb; }
				.Rbtn { background-color:#EF3E00; color:#fff; margin-left:70px; }
					.Lbtn:hover{ background-color:#616161; color:#fff; }
					.Rbtn:hover { background-color:#FFAA00; }
				
			.btn{ position:absolute; left:50%; margin-left:-185px; top:2580px; }

			


/*container끝  */

		#footer{ position:relative; width:100%; height:300px; background-color:#1e1e1e;}

			#infowrap{width:1200px; position:absolute; left:50%; margin-left:-600px;}

				.footerLogo{cursor:pointer; width:100px; height:100px; position:absolute; top:100px; }

				#info { font-size:12px; position:absolute; left:150px; top:90px; color:#fff; line-height:30px;}
					#info li span { font-family: 'TheJamsil3Regular'; }
					.infoRight { margin-left:250px; margin-top:-61px; }
				
				address{color:gray; font-size:12px;  margin-top:190px; margin-left:400px;}
			
			#sns{position:absolute; right:0; top:90px; }
				#sns img { margin-left:20px; }

			
			
			
			
			